attrs
cython
h5py
jupyter
numpy
networkx
pandas
pymongo
scipy
scikit-image
scikit-learn
toml
tqdm
zarr>=2.10.2
-e git+https://github.com/funkelab/funlib.run#egg=funlib.run
-e git+https://github.com/Kainmueller-Lab/funlib.learn.torch@36ef666d16bddda0bf3146d4c0efbe9b95c8463d#egg=funlib.learn.torch
-e git+https://github.com/funkey/gunpowder@e6c914f764521cb6af93b86b984fb34776a80f30#egg=gunpowder
-e git+https://github.com/abred/daisy@ab7b82054126a50ab4ad5dcf2ef885b02d33aab8#egg=daisy
